/* General */

.main-block {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.content-block {
  background-color: rgba(0, 0, 255, 0.322);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal-general {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.colored {
  background-color: #ff3939dc !important;
  transition: 0.5s;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: #363b46ab;
}

/* NavBar */
.nav-block {
  width: 16vw;
  background-color: #61dafb;
}

.nav-el {
  height: 8vh;
}

.icons {
  box-sizing: border-box;
  width: 16vw;
  height: 8vh;
  padding: 1.8vh;
}

/* MainPage */

.current-money-block {
  width: 76vw;
  height: 10vh;
  background-color: aquamarine;
  border-radius: 20px;
}

.currency-text {
  font-size: 2.5vh;
  margin: 1vh 0 0 2vw;
}

.currency-count {
  text-align: center;
  font-size: 3.6vh;
  font-weight: bold;
  margin: 0;
}

.spending-history-main {
  width: 90%;
  height: 80vh;
  background-color: rgb(138, 255, 127);
  border-radius: 15px;
  overflow-y: scroll;
}
.spending-element-main {
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10vh;
  background-color: rgb(255, 210, 127);
  border-radius: 15px;
  margin: 1vh 0 1vh 0;
}
.spend-value {
  display: inline-block;
  font-size: 2.2vh;
  color: rgb(154, 38, 248);
  padding: 0 0.7vw;
}

.add-spend-button {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  position: absolute;
  right: 4vh;
  bottom: 4vh;
  z-index: 1;
  background-color: rgb(214, 78, 78);
}

/* History block */

.spending-list-name {
  font-size: 3vh;
  margin: 1vh 0 0 2vw;
}

.spending-history-list {
  width: 90%;
  height: 90vh;
  background-color: rgb(138, 255, 127);
  border-radius: 35px;
  overflow-y: scroll;
  font-size: 2.9vh;
}

.spending-element-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10vh;
  background-color: rgb(255, 210, 127);
  border-radius: 15px;
  margin: 1vh 0 1vh 0;
}

.add-spending-item-button {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  position: absolute;
  right: 4vh;
  bottom: 4vh;
  z-index: 3;
  background-color: rgb(214, 78, 78);
}

/* Adding expenditure Modal window styles */

.expenditure-modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 82vw;
  height: 70vh;
  position: absolute;
  background-color: bisque;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.modal-text {
  font-size: 3vh;
  margin: 0;
}

.modal-list-items {
  width: 74vw;
  height: 44vh;
  background-color: #61dafb;
  border-radius: 36px;
  overflow-y: scroll;
}

.modal-list-element {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2vh;
  width: 74vw;
  height: 5vh;
  background-color: rgb(255, 210, 127);
  border-radius: 36px;
  margin: 0.4vh 0;
}
.modal-input {
  font-size: 2.2vh;
  padding: 1.5vh 2vw;
  margin: 0;
}

.adding-expenditure-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2vh;
  font-weight: 500;
  width: 50vw;
  height: 6vh;
  background-color: rgba(250, 48, 48, 0.664);
  border-radius: 20px;
  box-shadow: 3px 3px 3px black;
}

/* Adding spending Modal window styles */

.spending-modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 82vw;
  height: 50vh;
  position: absolute;
  background-color: bisque;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* for development */

.red {
  background-color: rgba(255, 72, 0, 0.815);
}
